.btn {
  //normal state
  border: none;
  text-transform: uppercase;
  padding: 1.25rem 3rem;
  transition: all 0.3s;
  font-size: 1.6rem;
  font-family: $sub-header;
  font-weight: 300;
  display: inline-block;
  @include color-accent;

  &--bordered {
    border: 0.15rem solid $color-accent;
  }

  &--rounded {
    border-radius: 2.5rem;
  }

  &:active {
    //transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    @include color-secondary;
  }

  &:hover {
    //transform: translateY(1px);
    transform: scale(1.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    @include color-secondary;
  }
}
