@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin color-primary {
  background-color: $color-primary;
  color: $color-secondary;
}

@mixin color-secondary {
  background-color: $color-secondary;
  color: $color-primary;
}

@mixin absolute-centered {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(
    -50%,
    -50%
  ); /* This is a shorthand of
                                       translateX(-50%) and translateY(-50%) */
}
