$color-white: #eee;
$color-black: hsl(4, 25, 8);
$color-red: hsl(4, 55, 55);
$color-orange: hsl(50, 70, 70);
$color-blue: hsl(190, 70, 70);
$color-green: hsl(140, 60, 70);
$color-white: hsl(20, 0, 80);

$color-primary: $color-red;
$color-secondary: $color-white;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;
