.content {
  animation: transitionIn 1.75s, slideIn 0.75s;
}

//.content--left {}

//.content--right {}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translate(10rem);
  }
  to {
    transform: translateX(0);
  }
}
