$paragraph: 'open sans', serif;
$header: 'open sans', sans-serif;
//$header: 'Nothing You Could Do', serif;
//$sub-header: 'Nothing You Could Do', sans-serif;
$sub-header: 'open sans', sans-serif;
$poster: 'open sans', sans-serif; //weights available are 300, 400, and 800

// Font Colors
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-accent;
}

// Font Families
a,
p {
  font-family: $paragraph;
}

h6,
h5,
h4 {
  font-family: $sub-header;
}

h3,
h2,
h1 {
  font-family: $header;
}

// Font Sizes
p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.8rem;
  line-height: 0.9;
  padding-top: 1.6rem;
}

h2 {
  font-size: 2.8rem;
  line-height: inherit;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.4rem;
}

// Font Weights
h1,
h2 {
  font-weight: 800;
}
h3 {
  font-weight: 400;
}
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 300;
  font-family: $paragraph;
}
